.password-toggler{
    cursor: pointer;
    position: absolute;
    top: 55%;
    right: 20px;
    z-index: 1000;
}

.input-icon {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 20px;
    z-index: 1000;
}

input[type='text'], input[type='password']{
    text-align: center;
}